@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #5334f5;
  text-decoration: none;
  font-weight: 600;
}

.Container h1 {
  margin: 0;
}

.Container {
  background-image: url(../images/background_image.png);
  height: 100vh;
  /* width: 100vw; */
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 5vh 20vh;
}

.Body {
  width: 100%;
  display: grid;
  grid-template-columns: 5vw 2fr 1fr;
  grid-gap: 40px;
  margin: 0 auto;
}

.Right {
  display: grid;
  justify-content: end;
}

.Mockup {
  /* position: absolute; */
  left: -90px;
  top: -50px;
  transform: rotateZ(10deg);
}

.Center {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-items: flex-end;
  padding: 0 60px 0 60px;
}

.TextContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

.Center h1 {
  font-size: 45px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 30px;
  width: 90%;
  text-align: right;
  line-height: 1.2;
  letter-spacing: 1.2;
}

.Center p {
  font-size: 32px;
  font-weight: 300;
  width: 90%;
  text-align: right;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 60px;
  letter-spacing: 2;
}

.Left {
  padding: 20px;
  display: grid;
  align-content: center;
  justify-content: start;
}

.SocialIconContainer {
  display: grid;
  padding: 20px;
  /* align-self: center; */
  /* justify-self: center; */
}

.SocialIcon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.Bolt {
  height: 215px;
  width: 65.5px;
  align-self: flex-end;
  margin-bottom: 30px;
}

.StoreLinkContainer {
  display: flex;
  justify-content: flex-end;
  grid-template-columns: 220px auto;
}

.StoreLink {
  width: 200px;
  align-self: end;
  margin-left: 10px;
}

.Footer {
  background-color: red;
  height: 100px;
  width: 100%;
}
